.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  list-style: none;
  padding: 2rem;
  width: 100%;
  box-shadow: 0.5rem 0.5rem 3rem 0.2rem rgba(0, 0, 0, 0.2);
}
.header__li {
  list-style: none;
}
.header__img {
  max-width: 6rem;
}
.header__input {
  width: 100%;
  height: 3rem;
  border-radius: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.9);
  padding: 1rem 4rem;
}
.header__searchinput {
  width: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__search {
  position: relative;
  left: 3.7rem;
}
.header__inlog {
  width: 10rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.9);
  height: 4rem;
  align-items: center;
  display: flex;
  justify-content: center;
  background: rgb(243, 238, 238);
  cursor: pointer;
}
.header__inschrijven {
  width: 11rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.9);
  height: 4rem;
  align-items: center;
  display: flex;
  justify-content: center;
  background: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
}
.header__globe {
  width: 4rem;
  height: 4rem;
  font-size: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid rgba(0, 0, 0, 0.9);
  cursor: pointer;
}
.header__sidebars {
  display: none;
}

.udemy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.udemy__foto {
  width: 85%;
  height: 40rem;
  object-fit: cover;
}
.udemy__kaart {
  position: absolute;
  top: 10rem;
  width: 40rem;
  left: 20%;
  padding: 2rem;
  height: 18rem;
  background: white;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 3rem 0.2rem rgba(253, 253, 253, 0.4);
}

.udemy2 {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 4rem 11rem;
}
.udemy2__sectionh2 {
  width: 30;
}

.udemy3 {
  display: flex;
  flex-direction: column;
  padding: 4rem 11rem;
  gap: 2rem;
}
.udemy3 .udemy__tabs {
  display: flex;
  gap: 5rem;
  list-style-type: none;
  flex-wrap: wrap;
}
.udemy3__carousel1 {
  list-style: none;
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer;
}
.udemy3__carousel1:hover {
  cursor: pointer;
  background: rgb(0, 0, 0);
}

.udemy4:nth-child(2),
.udemy4:nth-child(3), .udemy4:nth-child(5),
.udemy4:nth-child(4), .udemy4:nth-child(6),
.udemy4:nth-child(7) {
  display: none;
}

.udemy4 {
  display: flex;
  flex-direction: column;
  border: 0.1rem solid;
  width: 80%;
  gap: 2rem;
  padding: 2rem;
}
.udemy4__carousel5 {
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.udemy4__button {
  width: 20rem;
  height: 4rem;
  background: white;
  border: 0.1rem solid rgba(0, 0, 0, 0.9);
  cursor: pointer;
  border-radius: 0.5rem;
}
.udemy4__button:hover {
  background: rgba(0, 0, 0, 0.9);
  color: white;
}

.udemy5 {
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.udemy5__art {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}
.udemy5__article {
  box-shadow: 0.5rem 0.5rem 3rem 0.2rem rgba(0, 0, 0, 0.2);
  width: 25rem;
  height: 33rem;
  border-radius: 0.5rem;
}
.udemy5__cardsimg {
  width: 25rem;
}
.udemy5__img {
  width: 25rem;
  height: 15rem;
  object-fit: cover;
}
.udemy5__text {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.udemy5__card {
  width: 40rem;
  display: flex;
  gap: 1.5rem;
}
.udemy5__listrevieuw {
  list-style: none;
}
.udemy5__ster {
  color: orange;
}
.udemy5__prijscoursesnow {
  display: flex;
  gap: 4rem;
}
.udemy5__prijsprevies {
  color: rgba(0, 0, 0, 0.7);
  text-decoration: line-through;
}

.udemy6 {
  padding: 4rem 0rem;
  min-height: 60rem;
}
.udemy6__article {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  min-height: 50rem;
}
.udemy6__text {
  display: flex;
  flex-wrap: wrap;
  gap: 14rem;
}
.udemy6__categories {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.udemy6__h3 {
  cursor: pointer;
}
.udemy6__h3:hover {
  color: blue;
}
.udemy6__p {
  cursor: pointer;
}
.udemy6__p:hover {
  color: blue;
}
.udemy6__sub {
  cursor: pointer;
}
.udemy6__sub:hover {
  color: blue;
}
.udemy6__button {
  width: 20rem;
  height: 4rem;
  background-color: white;
  border: 0.1rem solid rgba(0, 0, 0, 0.9);
}
.udemy6__button:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.udemy7 {
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20rem;
}
.udemy7__section {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
}
.udemy7__image {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
.udemy7__foto {
  width: 40rem;
  height: 30rem;
  object-fit: cover;
}
.udemy7__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}
.udemy7__h2 {
  width: 20ch;
}
.udemy7__p {
  width: 40ch;
}
.udemy7__button {
  width: 24rem;
  height: 4rem;
  background: white;
  border: 0.1rem solid rgba(0, 0, 0, 0.9);
}
.udemy7__button:hover {
  cursor: pointer;
  background: black;
  color: white;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 200;
}

.footer {
  min-height: 30rem;
  width: 100%;
  background: rgba(0, 0, 0, 0.95);
  padding: 2rem;
  color: white;
}
.footer__section {
  padding: 2rem;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer__article {
  list-style: none;
  display: flex;
  gap: 20rem;
  color: white;
  flex-wrap: wrap;
}
.footer__div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer__li:hover {
  cursor: pointer;
  text-decoration: underline;
}
.footer__icon_author {
  display: flex;
  justify-content: space-between;
  color: white;
}
.footer__iconauthor {
  width: 8rem;
  height: 8rem;
}

@media screen and (max-width: 80rem) {
  .header__li:nth-child(2), .header__li:nth-child(4), .header__li:nth-child(5), .header__li:nth-child(6), .header__li:nth-child(7), .header__li:nth-child(8), .header__li:nth-child(9), .header__li:nth-child(10) {
    display: none;
  }
  .header__ul {
    display: flex;
    justify-content: space-between;
  }
  .header__sidebars {
    display: flex;
  }
}
@media screen and (max-width: 50rem) {
  .udemy__kaart {
    position: absolute;
    top: 10rem;
    width: 32rem;
    left: 10%;
    padding: 2rem;
    height: 18rem;
    background: white;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 3rem 0.2rem rgba(253, 253, 253, 0.4);
  }
  .udemy2 {
    padding: 4rem 4rem;
  }
  .udemy3 {
    padding: 4rem 3rem;
  }
  .udemy3__tabs {
    position: relative;
    right: 10rem;
  }
  .udemy3 .udemy4:nth-child(2),
.udemy3 .udemy4:nth-child(3), .udemy3 .udemy4:nth-child(5),
.udemy3 .udemy4:nth-child(4), .udemy3 .udemy4:nth-child(6),
.udemy3 .udemy4:nth-child(7) {
    display: none;
  }
  .udemy3 .udemy4 {
    display: flex;
    flex-direction: column;
    border: 0.1rem solid;
    width: 35rem;
    gap: 2rem;
    padding: 2rem;
  }
  .udemy3 .udemy4__carousel5 {
    width: 100%;
    height: 100%;
  }
  .udemy3 .udemy4__button {
    width: 20rem;
    height: 4rem;
    background: white;
    border: 0.1rem solid rgba(0, 0, 0, 0.9);
    cursor: pointer;
    border-radius: 0.5rem;
  }
  .udemy3 .udemy4__button:hover {
    background: rgba(0, 0, 0, 0.9);
    color: white;
  }
  .udemy3 .umdey3__carousel1:nth-child(2),
.udemy3 .umdey3__carousel1:nth-child(4),
.udemy3 .umdey3__carousel1:nth-child(5),
.udemy3 .umdey3__carousel1:nth-child(6) {
    display: none;
  }
  .udemy7 {
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20rem;
  }
  .udemy7__section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
  }
  .udemy7__image {
    max-width: 30rem;
    height: 100%;
    object-fit: contain;
  }
  .udemy7__foto {
    width: 30rem;
    height: 30rem;
    object-fit: cover;
  }
  .udemy7__h2 {
    width: 20ch;
  }
  .udemy7__p {
    width: 30ch;
  }
  .udemy7__button {
    width: 24rem;
    height: 4rem;
    background: white;
    border: 0.1rem solid rgba(0, 0, 0, 0.9);
  }
  .udemy7__button:hover {
    cursor: pointer;
    background: black;
    color: white;
  }
}

/*# sourceMappingURL=style.css.map */
